<link rel="stylesheet" href="css/footer.css">
<div id="footer">
    <div class="contents">
        <div class="info">
            <div class="follow-us">
                <h2>follow-us</h2>
                <hr>
                <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><img
                        src="assets/icons/facebook.svg" alt=""></a>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><img
                        src="assets/icons/insta.svg" alt=""></a>
                <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><img
                        src="assets/icons/twitter.svg" alt=""></a>
                <a href="https://www.linkedin.com/login" target="_blank" rel="noopener noreferrer"><img
                        src="assets/icons/linkedIn.svg" alt=""></a>
            </div>
            <div class="contact-us">
                <h2>contact-us</h2>
                <hr>
                <p><img src="assets/icons/contact-us.svg" alt="">99647 8521</p>
                <p><img src="assets/icons/email.svg " alt="">bob@webdesign.com</p>
            </div>
        </div>
        <p class="rights">---&copy;2023-10 <b>Prasad Panchal</b> | all rights reserved---</p>
    </div>
</div>
<script src="css/footer.js"></script>