<link rel="stylesheet" href="css/header.css">
<div>
    <div class="navbar">
        <a href="/" class="logo">Super Heros</a>
        <div class="nav-links">
            <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#secondPage">About</a></li>
                <li><a href="#FAQs">FAQs</a></li>
                <li><a href="#contact-us">Contact Us</a></li>
            </ul>
            <a href="{{nextBtn}}" class="getStarted">{{nextBtn}}</a>
        </div>

        <div class="bars">
            <ul>
                <li class="bar one"></li>
                <li class="bar two"></li>
                <li class="bar three"></li>
            </ul>
        </div>
    </div>

    {{!-- <div class="dropdown-navbar">
        <ul>
            <li><a href="#Home">Home</a></li>
            <li><a href="#secondPage">About</a></li>
            <li><a href="#FAQs">FAQs</a></li>
            <li><a href="#contact-us">Contact Us</a></li>
            <li><a href="register" class="getStarted">Register</a></li>
        </ul>
    </div> --}}
</div>

<script src="css/header.js"></script>