<div class="main-container">
    <h1>Home page</h1>
    <div class="image-container">
        <img src="assets/images/1648986376318.jpg" alt="">
        <img src="assets/images/1688192474078.png" alt="">
        <img src="assets/images/304076.jpg" alt="">
    </div>
</div>